.vs/FinancePortal/FileContentIndex/6c19db4c-596a-4a8f-9c8c-9014f1d2afc3.vsidx
*.vsidx
*.vsidx
*.cache
*.vsidx
*.cache
*.pdb
*.dll
*.pdb
obj/Debug/FinancePortal.csproj.FileListAbsolute.txt
/obj
/bin
obj/Debug/TempPE/Models.FinancePortalModel.cs.dll
/obj
obj/Debug/TempPE/Models.FinancePortalModel.cs.dll
*.cache
