<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- File target with 7-day archive -->
		<target xsi:type="File" name="logfile" fileName="${basedir}/Logs/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
				archiveFileName="${basedir}/Logs/Archive/{#}.log"
				archiveEvery="Day"
				maxArchiveFiles="7"
				archiveNumbering="Date"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="utf-8" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
